<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <form method="POST"  action = "#" th:action="@{/add}" th:object="${user}" >
    <table>
      <tr>
        <td> <label for="name">Name</label>
          <input id = "name" name="Name" th:field="*{username}" >
        </td>
        <td> <label for="lastname">Last Name</label>
          <input id = "lastname" name="Last Name" th:field="*{lastname}" >
        </td>
        <td> <label for="age">Age</label>
          <input type="number" id = "age" name="Age" th:field="*{age}" >
        </td>
        <td> <label for="password">Password</label>
          <input id = "password" name="Age" th:field="*{password}" >
        </td>
        <td>
          <input type="submit" value="Add">
        </td>
      </tr>

      <tr>
        <td>
          <p th:if="${#fields.hasErrors('username')}" th:errorclass="error" th:errors="*{username}"></p>
        </td>
        <td>
          <p th:if="${#fields.hasErrors('lastname')}" th:errorclass="error" th:errors="*{lastname}"></p>
        </td>
        <td>
          <p th:if="${#fields.hasErrors('age')}" th:errorclass="error" th:errors="*{age}"></p>
        </td>
      </tr>
    </table>
  </form>
</body>
</html>