<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Name</th>
            <th>Age</th>
            <th>Roles</th>
        </tr>
        <tr th:each="user : ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.username}"></td>
                <td th:text="${user.name}"></td>
                <td th:text="${user.age}"></td>
            <td>
                <table>
                    <tr>
                        <td th:each="role: ${user.roles}">
                            <span th:text="${role.role}"> </span>
                        </td>
                    </tr>
                </table>
            </td>
            <td>
                <a th:href="@{admin/delete/__${user.id}__}" class="btn btn-danger">Delete</a>
            </td>
            <td>
                <a th:href="@{admin/edit/__${user.id}__}" class="btn btn-danger">Edit</a>
            </td>
        </tr>
    </table>
</div>
<div>
    <table>
    <tr>
        <td>
            <a th:href="@{admin/addView}" class="btn btn-danger">Add </a>
        </td>
        <td>
            <a th:href="@{/logout}">Logout</a>
        </td>
    </tr>
</table>
</div>


</body>
</html>