<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Home</title>
</head>
<body>
<nav class="p-3 navbar navbar-expand-lg navbar-dark bg-dark justify-content-between">
    <div class="container-fluid">
        <span>
            <b><span class="text-white" th:text="${#authentication.getPrincipal().getUsername()}"/></b>
            <span class="text-white">with roles: </span>
            <span class="text-white" th:each="role : ${#authentication.getPrincipal().getRoles()}" th:text="${role.toString() + ' '}"></span>
        </span>
        <a href="/logout" class="text-light">Logout</a>
    </div>
</nav>

<div class = row>
    <div class="d-flex flex-column flex-shrink-0 p-3" style="width: 280px;">
        <div class="col-2">
            <form>
                <nav class="nav nav-pills nav flex-column">
                    <a sec:authorize="hasRole('ROLE_ADMIN')" class="nav-link active" aria-current="page" href="/admin/">Admin</a>
                    <a class="nav-link" href="/user/">User</a>
                </nav>
            </form>
        </div>
    </div>
    <div class="col-md-8 bg-light"  >
        <div class="tab-pane fade show active"
             id="v-pills-admin"
             role="tabpanel"
             aria-labelledby="v-pills-admin-tab"
             tabindex="0">
            <h3>Admin panel</h3>
            <ul class="nav nav-tabs" id="myTab">
                <li class="nav-item" role="presentation" id="first_tab">
                    <button class="nav-link active user-table-tab" id="user-table-tab" data-toggle="tab"
                            data-target="#user-tab-pane" type="button" role="tab" aria-controls="user-tab-pane"
                            aria-selected="true"
                    > User table </button>
                </li>
                <li class="nav-item" >
                    <a href="#new-user-tab-pane" class="nav-link new-user-table-tab" id="new-user-table-tab" data-toggle="tab" data-target="#new-user-tab-pane"
                       type="button" role="tab" aria-controls="new-user-tab-pane" aria-selected="false">New user
                    </a>
                </li>
            </ul>
            <div class="tab-content"  id="Admin_panel-tabContent">
                <div class="tab-pane fade show active user-tab-pane" id="user-tab-pane" role="tabpanel"
                     aria-labelledby="user_table-tab">
                    <div class="container-fluid border">
                        <h4>All users</h4>
                    </div>
                    <div class="container-fluid bg-white border table-container">
                        <table id = "users_table" class="table table-striped bg-white" style="background-color: #F7F7F7">
                            <thead>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Username</th>
                                <th scope="col">Name</th>
                                <th scope="col">Age</th>
                                <th scope="col">Role</th>
                                <th scope="col">Edit</th>
                                <th scope="col">Delete</th>
                            </tr>
                            </thead>
                            <tbody id="allUsersTableBody" class="allUsersTableBody">

                            </tbody>
                        </table>
                    </div>
                </div>
                <!--           New User tab-->
                <div class="tab-pane fade new-user-tab-pane" id="new-user-tab-pane" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="container">
                        <div class="row bg-light border">
                            <h4>Add new user</h4>
                        </div>
                        <div class="row bg-white border">
                            <div class="col">
                            </div>
                            <div class="col">
                                <form class="text-center newUserForm" id="newUserForm">
                                    <div class="mb-3">
                                        <label for="username" class="form-label d-flex justify-content-center"><b>Username</b></label>
                                        <input placeholder="Username" type="text"  class="form-control"
                                               id="username" name="username" aria-describedby="emailHelp">
                                        <div class="mb-3">
                                            <label for="name" class="form-label d-flex justify-content-center"><b>Name</b></label>
                                            <input placeholder="Name" type="text"  class="form-control"
                                                   id="name" name="name">
                                        </div>
                                        <div class="mb-3">
                                            <label for="age" class="form-label d-flex justify-content-center"><b>Age</b></label>
                                            <input placeholder="Age" type="number"  class="form-control" id="age"
                                                   aria-describedby="emailHelp" name="age">
                                        </div>
                                        <div class="mb-3">
                                            <label for="password" class="form-label d-flex justify-content-center"><b>Password</b></label>
                                            <input placeholder="Password" type="password"  class="form-control"
                                                   id="password" name="password">
                                        </div>
                                        <div class="mb-3">
                                            <div class="form-group"
                                                 style="margin: 5px 0; text-align: center">
                                                <label for="roles">Roles</label>
                                                <select multiple class="form-control"
                                                        name="roles" size="2"
                                                        id="roles">
                                                    <option selected="selected" value="1">ADMIN
                                                    </option>
                                                    <option value="2">USER</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="mb-3 d-flex justify-content-center">
                                            <button class="btn btn-success" id="addNewUserBtn" type="button">Add new user</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src=/main.js></script>
</body>
</html>
